# Para rodar a DB
Docker Desktop
Docker Compose
wls (Se for windowns) // Opcional

# Requisitos para rodar o projeto
Python 3
requests
dotenv
os
Pathlib
sentence-transformers
numpy
pytest
math

# Para testes de RAG
scikit-learn
